/* Add this to your Dashboard.css */
.dashboard-container {
    text-align: center;
    margin: 30px;
  }
  
  .no-itineraries-message {
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 40px 0;
  }
  
  .add-itinerary-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-itinerary-btn:hover {
    background-color: #0056b3;
  }
  
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding:50px;
    margin: 50px;
  }
  
  .itinerary-list {
    margin-top: 20px;
  }
  
  .itinerary-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .itinerary-list li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 20px;
  }
  