/* src/pages/Home.css */

.home-container {
    text-align: center;
    margin-top: 100px;  /* Adjust to prevent overlap with navbar */
  }
  
  .home-container h1 {
    font-size: 36px;
    color: #333;
  }
  
  .home-container p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .home-container button {
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .home-container button:hover {
    background-color: #218838;
  }
  