/* src/components/Navbar.css */

/* Navbar container */
.navbar {
    background-color: #94b689;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  /* Navbar logo */
  .navbar .logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Navbar links container */
  .navbar .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Navbar links */
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  /* Navbar links hover effect */
  .navbar a:hover {
    color: #f0f0f0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar .links {
      display: none; /* Hide links by default on small screens */
      flex-direction: column; /* Stack links vertically */
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #6f8cab;
      padding: 10px;
      border-radius: 5px;
    }
  
    .navbar .links.show {
      display: flex; /* Show links when toggle is active */
    }
  
    .navbar a {
      margin: 10px 0;
    }
  
    .navbar .toggle {
      display: block;
      background-color: #63788e;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
  }
  